/* This is here to give everything a red border, just to make it easier to see while developing. */
* {
  box-sizing: border-box;
}
/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */

.border{
  border-radius: 5px;
  background-color: lightblue;
  color: white;
  text-align: center;
  width: 100%;
}
